<!--home-->
<div id="content">
    <div id="main">
	{{#if user}}
    <form action="/home" method="POST">
        Title: <input type="text" name="header" required><br>
        <textarea name="body"></textarea><br>
        Name: <input type="text" name="name"><br>
        <input type="submit" value="Post">
    </form>
	{{/if}}
		
	<br>
    <h2>Latest Posts</h2>
    {{#each posts as |p|}}
        <div class="post">
            <h3 class="postHead"><a href={{p.slug}}>{{p.header}}</a></h3><br>
            <div id="postBody">{{p.body}}</div><br>
            by {{p.user}}
            on {{p.createdAt}}<br>   
        </div>
    {{/each}}
    
    </div>
    <aside>
        <h2 id='commAside'>Comments</h2>
		
		{{#each comments as |c|}}
		<div id='commDiv'>
			{{c.comment}}<br><br>
			- {{c.user}}
		</div>

		{{/each}}
    </aside>
    
</div>